<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <div class="card mt-4">
          <div class="card-body">
              <div class="card-title">
                <h3>{{selectedEmployee.id == 0 ? "Insertar un nuevo registro" : "Actualizar un registro"}}</h3>
              </div>
              <div class="form-group">
                <label for="Evento" class="form-label" id="descripcion">Descripcion</label>
                <input type="text" [(ngModel)]="selectedEmployee.evento" placeholder="evento" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="profesor" class="form-label" id="profesor">Docente a cargo</label><br>
                <input type="text" [(ngModel)]="selectedEmployee.profesor" placeholder="profesor" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Laboratorios" class="form-label" id="laboratorio">Laboratorio</label>
                <input type="text" [(ngModel)]="selectedEmployee.laboratorio" placeholder="laboratorio" class="form-control"> 
              </div>
              <button (click)="addOrEdit()" class="btn btn-primary">
                Submit
              </button>
              <button  *ngIf="selectedEmployee.id !== 0"
                class="btn btn-danger"
                (click)="delete()">    DELETE
              </button>
       
          </div>
        </div>
          <li 
        *ngFor="let employee of employeeArray"
        class="list-group-item list-group-item-action"
        (click)="openForEdit(employee)"
        [class.active]="employee == selectedEmployee"
        >
        <span class="badge badge-primary">{{employee.id}}</span>  - {{employee.evento}}- {{employee.profesor}}- {{employee.laboratorio}}
      </li>
      </ul>
    </div>
  </div>
</div>