    <div class="suscribete" >
        <h1>Registrarse</h1>
        <form (ngSubmit)='registrar()' [formGroup]='registarUsuario' >
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"  placeholder="Escribe tu nombre"/><br>

            <label for="apellidos">Apellido</label>
            <input type="text" name="apellidos" id="apellidos" placeholder="Escribe tu Apellido"/>
            <br>

            <label for="sexo">Sexo:</label><br>
            <label for="">Hombre</label>
            <input type="radio" name="hm" value="h" >
            <label for="">Mujer</label>
            <input type="radio" name="hm" value="m" >
            <br>
            <label for="fecha">Fecha de Nacimiento: </label>
            <input type="date" name="fecha">
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="Correo Electronico" required />
            <span *ngIf="registarUsuario.get('email')?.hasError('required') && registarUsuario.get('email')?.touched" class="text-danger errorLabel">
                El <strong>correo</strong> es requerido
            </span>
            <span *ngIf="registarUsuario.get('email')?.hasError('email') && registarUsuario.get('email')?.touched" class="text-danger errorLabel">
                El <strong>correo</strong> es invalido
            </span>  
        </div>
          <div>
            <label for="mensaje">Contraseña:</label>
            <input type="password" name="password" placeholder="******" title="Letras y números. Tamaño mínimo: 6. Tamaño máximo: 40" class="form-control" formControlName="password">          </div>
            <span *ngIf="registarUsuario.get('password')?.hasError('required') && registarUsuario.get('password')?.touched" class="text-danger errorLabel">
                La <strong>password</strong> es requerida
            </span>
            <span *ngIf="registarUsuario.get('password')?.hasError('minlength') && registarUsuario.get('password')?.touched" class="text-danger errorLabel">
                El <strong>password</strong> debe tener 6 caracteres
            </span>
            <div>
            <label for="mensaje"> Confirmar Contraseña:</label>
            <input type="password" name="password2" minlength="6" placeholder="******" class="form-control" formControlName="repetirPassword">
          </div>
            <label for="ntelefono">Numero de telefono:</label>
            <input type="tel" name="telefono" size="20" placeholder="Celular"/><br>
            <label for="range">Nivel:</label>
            <select name="menu">
                <option value="0">...</option>
                <option value="1">Uno</option>
                <option value="2">Dos</option>
                <option value="3">Tres</option>
                <option value="4">Cuatro</option>
                <option value="5">Cinco</option>
                <option value="6">Seis</option>
                <option value="7">Siete</option>
                <option value="8">Ocho</option>
                <option value="9">Nueve</option>
              </select><br>
              <label for=""><input type="checkbox" id="activador">
                Terminos y condiciones
              </label>
            <input type="submit" name="enviar" value="Registar" [disabled]="registarUsuario.invalid"/>
        </form>
    </div>
    <router-outlet></router-outlet>